body {
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: #f2f2f2
}

#container {
	width: 720px;
	margin: 0 auto;
	background: #fff
	min-width: 720px; /*pra n quebrar quando diminuir mt o browser*/
	/*max-width: 960px;*/ /*se qser largura máxima
	*/
}

#marca {
	height: 100px;
	background: #9E9E9E;
	text-align: center;
	line-height: 100px;

}

#conteudo {
	width: 75%; 
	float: right;
}

#navegacao {
	width: 23%;
	float: left;
	padding-top: 20px;
	padding-bottom: 20px;
	background: #d1d1d1
}

#conteudo-principal {
	width: 64%;
	float: left;
}

#conteudo-secundario {
	width: 34%;
	float:right;
	background: #d1d1d1;
}

#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p, {
	padding-left: 20px;
	padding-right: 20px;
}



#navegacao ul {
	list-style: none;
}